body{
    background-color: rgba(137, 176, 223);
}

.container{
    display: flex;
    margin: auto;
    margin-left: 400px;
}

.card-1{
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}

.card-2{
    background-color: rgb(38, 84, 157);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 500px;
    height: 600px;

}